DATABASE_URL="postgresql://myuser:123@localhost:5432/mydb?schema=public"
PORT = 3000
ADDRESS = 0.0.0.0
TEAMS_WEBHOOK_URL=https://example.com/
GOOGLE_API_URL=https://example.com/
MSN_API_URL=https://example.com/
ENVIRONMENT = "staging"